.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.dashboard-header{
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 5vh;
}

#background-projects {
    display: flex;
    height: 100%;
    flex-direction: row;
    
}

.dashboard-body {
    display: flex;
    
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#opt {
    background-color: rgb(139, 90, 180);
    margin-right: 10%;
}

#admin-delete{
    color:red;

}

#admin-delete-button{
    margin-left: 2vw;
}
.project-paper-holder{
<<<<<<< HEAD
    height: 30%;
    width: 25%;
    margin-right: 50px;
    margin-top: 10px;
=======
    height: 25%;
    width: 40%;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 2px;
>>>>>>> origin/bailey2
}

.project-paper{
    width: 100%;
    height: 100%;
}
#userList {
    min-width: 350px;
}

#trash-icon-button{
    margin-left: .25vw;
    display:inline;
}
<<<<<<< HEAD
=======
#project-card-content {
    height: 10%;
}
>>>>>>> origin/bailey2
