.dashboard-container {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    
}



.dashboard-header{
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 5vh;
}

#background-projects {
    display: flex;
    height: 100%;
    flex-direction: row;
    
}

.dashboard-body {
    display: flex;
    
    margin-left: 13%;
    margin-right: 10%;
    margin-top: -230px;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#opt {
    background-color: rgb(139, 90, 180);
    margin-right: 10%;
}

#admin-delete{
    color:red;

}

#admin-delete-button{
    margin-left: 2vw;
}
.project-paper-holder{
    height: 25%;
    width: 28%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2px;
}

.project-paper{
    width: 100%;
    height: 100%;
}
#userList {
    min-width: 350px;
}

#trash-icon-button{
    margin-left: .25vw;
    display:inline;
}

#project-card-content {
    height: 10%;
}

#dash-icon {
    color: black;
}

#hr-1 {
    width: 38%;
    height: 1px;
    background-color: darkgray;
}