.dashboard-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 95vh;
    max-height: 95vh;

}

.dashboard-header{
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 5vh;
}

#background-projects {
    display: flex;
    height: 100%;

}

.dashboard-body {
    display: flex;
    height: 40vh;
    margin-left: 26%;
    margin-right: 5%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-paper-holder{
    height: 50%;
    width: 35%;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 400px;
}

.project-paper{
    width: 100%;
}

#no-projects-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width:595px;
  max-height:494px;
  width: auto;
  height: auto;
}

#project-card{
  height: 400
}

#project-card-content{
    min-height: 10%;
}

#font-awesome-space{
    margin-left: 10px;
}

#font-awesome-space-right{
    margin-right: 10px;
}


#myInput{
    min-width: 400px;
}

#tainer{
    min-width: 1200px;
}

#projectId-input-ds{
    height: 5vh;
    min-width: 325px;
}

#save-changes{
    margin-top: 50px;
}

.learn{
    text-align: center;
    align-content: center;
}

#learn-button{
    margin-left: 2vw;
}

#description-logo {
    margin-bottom: 1%;
}

#dash-icon {
    color: white;
}


.sidenav{
    background: black;
}
