#subnav{
    color: black;
    margin-left: 13px;
    margin-bottom: 6px;
}

    #subnav:hover {
        color: #0283C4;
        
    }

.landing-page-container {
    width: 100%;
    height: 100%;
    
}

#root{
    height: 100%;
}

#page-holder {
    height: 100%;
    background-color: #ebf2f2;
}



.app-routes {
    height: 100%;
    background-color: #ebf2f2;

}

.landing-page-body {
    margin-left: 22%;
    margin-top: 3%;
    margin-right: 20px;
    background-color: transparent;
}

#project-name {
   
}

#project-options {
    font-family: 'Exo-2', sans-serif;
    font-weight: 100;
    margin-top: 160px;
    font-size: 25px;
}

.page-body-1{
    margin-top: 0px;
    margin-right: 50px;
}

.page-body-2 {
    margin-top: 10px;
    margin-right: 50px;
}

#hr-1 {
    width: 38%;
    height: 1px;
    background-color: darkgray;
}

#hr-2 {
    width: 70%;
    height: 1px;
    background-color: darkgray;
}

.card-holder {

}



.card {
    height: 45%;
    width: 49%;
    margin-left: 70px;
}

.card-button {
    height: 130px;
    width: 150px;
    background-color: white;
    border-top: solid;
    border-top-color: aqua;
    border-top-width: 12px;
    box-shadow: 0 2px 5px 0 rgba(158, 168, 179, 0.6);
    border-radius: 10px;
}

.card-button-2 {
    height: 130px;
    width: 150px;
    background-color: white;
    border-top: solid;
    border-top-color: salmon;
    border-top-width: 12px;
    box-shadow: 0 2px 5px 0 rgba(158, 168, 179, 0.6);
    border-radius: 10px;
}

.card-button-3 {
    height: 130px;
    width: 150px;
    background-color: white;
    border-top: solid;
    border-top-color: yellow;
    border-top-width: 12px;
    box-shadow: 0 2px 5px 0 rgba(158, 168, 179, 0.6);
    border-radius: 10px;
}

.card-button-4 {
    height: 130px;
    width: 150px;
    background-color: white;
    border-top: solid;
    border-top-color: violet;
    border-top-width: 12px;
    box-shadow: 0 2px 5px 0 rgba(158, 168, 179, 0.6);
    border-radius: 10px;
}

.card-button-5 {
    height: 130px;
    width: 150px;
    background-color: white;
    border-top: solid;
    border-top-color: teal;
    border-top-width: 12px;
    box-shadow: 0 2px 5px 0 rgba(158, 168, 179, 0.6);
    border-radius: 10px;
}


#options-label {
    margin-top: 25%;
    font-size: 20px;
    font-weight: 300;

}

ul {
    list-style-type: none;
}

.li{
    margin-bottom: 15px;
    font-size: 14px;
}

.project-details{
    margin-top: 30px;
}

html, body {
    height: 100%;
    
}

Sidenav{
    background-color: white;
}