*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}
body {
    background-color: #0292D1;
    background-color: #0278B6;
}

#text{
    font-size: 16px;
    font-weight: 400;
}

#page-holder {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    background: linear-gradient(100deg, white, #dfdfdf);
}
    .container {
    min-width: 100%;
    min-height: 100%;
}
.background{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
   
}

#logo-holder {
    z-index: 1;
    margin-top: 20%;
    margin: auto;
}


#login-logo-span {
    display: block;
    height: 90px;
    width: 124px;
    line-height: 60px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 5%;

}

#login-text-span {
    display: block;
    height: 30px;
    width: 300px;
    line-height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 0%;
}

#display{
   width: 100%;
   margin-top: 15%;
}

#top-logo {
    margin-bottom: 3%;
    margin-top: 5%;
    height: 80px;
    
    width: 100%;
}

#login-logo{
  height: 100%;
  min-width: 140px;
}

#login-logo-2 {
    height: 100%;
    width: 100%;
}

#login-container {
    
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-color: white;
}

#username-field {
    width: 45%;
    margin-top: 8%;
}

#password-field {
    width: 45%;
    margin-bottom: 2%;
    margin-top: 6%;
}

#userName-label {
    margin-top: .7%;
    font-size: 1.3em;
}

#userName-input {
    background: white;
    border-color: grey;
    color: black;
}



#password-label {
    margin-left: 5%;
    font-size: 1.3em;
}

#password-input {
    background: white;
    border-color: grey;
    color: black;
}

#remember-me {
    margin-left: 0%;
    margin-bottom: 3%;
    color: black;
    margin-right: 57%;
    text-align: left;
}

#forgot-pass {
    margin-bottom: -2%;
    margin-right: 70%;
    text-align: left;
}

#register {
    margin-bottom: -2%;
    margin-right: 57%;
    text-align: left;
}

#submit-button {
    width: 45%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 0%;
    color: white;
   
}

#submit-button:hover {
    background: white;
    color: #0a5a6e;
    width: 84%;
    height: 45px;
    cursor: pointer;
}

#submit-button2 {
    background: linear-gradient(90deg, rgba(5,14,20,1) 34%, rgba(19,51,65,1) 100%, rgba(249,255,255,1) 100%);
    width: 150px;
    margin-top: 2%;
    margin-bottom: 3%;
}

#submit-button2:hover {
    background: white;
    color: rebeccapurple;
    width: 150px;
    cursor: pointer;
}

#login-holder {
    width: 100%;
    background-size: 400% 400%;
    -webkit-animation: login-background 14s ease infinite;
    -moz-animation: login-background 14s ease infinite;
    animation: login-background 14s ease infinite;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.form-check-label {
    margin-bottom: 0px;
    margin-top: 2%;
    -webkit-text-fill-color: aliceblue;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}

@-moz-keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}

@keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}
#password-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 400px;
    border-radius: 2px;
}
passwordStrength {
    float: left; 
        width: 100px; 
        height: 25px; 
        margin-left: 5px
}
