*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

#page-holder {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    height: 101.7vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

#logo-holder {
    z-index: 1;
    margin-top: 25%;
    margin: auto;
}

#logo-name-text {
    font-weight: 100;
    text-transform: uppercase;
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 24%,rgba(41,137,216,1) 24%,rgba(41,137,216,1) 40%,rgba(109,166,214,1) 54%,rgba(109,166,214,1) 54%,rgba(41,137,216,1) 68%,rgba(41,137,216,1) 75%,rgba(41,137,216,1) 75%,rgba(0,110,201,1) 80%,rgba(0,110,201,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-family: 'Exo-2', sans-serif;
    margin-top: 10%;
}

#login-logo-span {
    display: block;
    height: 90px;
    width: 124px;
    line-height: 60px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 5%;

}

#login-text-span {
    display: block;
    height: 30px;
    width: 200px;
    line-height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 0%;
}

#login-logo {
    width: 124px;
}

#login-container {
    animation: 2.0s ease-out 0s 1 slideInFromTop;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 450px;
    width: 300px;
    background: white;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: grey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: #989898;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.29), 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, .8);
}

#username-field {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

#userName-label {
    margin-top: .7%;
    font-size: 1.3em;
}

#userName-input {
    width: 95%;
}

#password-label {
    margin-left: 5%;
    font-size: 1.3em;
}

#password-input {
    margin-left: 4%;
    width: 95%;
    margin-top: 10%;
}

#remember-me {
    margin-left: 20%;
    margin-top: 4%;
    color: black;
}

#forgot-pass {
    float: middle;
    margin-right: 5%;
}

#submit-button {
    background: linear-gradient(90deg, rgba(5,14,20,1) 34%, rgba(19,51,65,1) 100%, rgba(249,255,255,1) 100%);
    width: 150px;
    margin-top: 2%;
    margin-bottom: 2%;
}

    #submit-button:hover {
        background: white;
        color: rgba(0, 123, 255, 1);
        width: 150px;
        cursor: pointer;
    }

#submit-button2 {
    background: linear-gradient(90deg, rgba(5,14,20,1) 34%, rgba(19,51,65,1) 100%, rgba(249,255,255,1) 100%);
    width: 150px;
    margin-top: 2%;
    margin-bottom: 3%;
}

#submit-button2:hover {
    background: white;
    color: rebeccapurple;
    width: 150px;
    cursor: pointer;
}

#login-holder {
    width: 100%;
    background-size: 400% 400%;
    -webkit-animation: login-background 14s ease infinite;
    -moz-animation: login-background 14s ease infinite;
    animation: login-background 14s ease infinite;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.form-check-label {
    margin-bottom: 5px;
    margin-top: 1%;
    -webkit-text-fill-color: aliceblue;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}

@-moz-keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}

@keyframes login-background {
    0% {
        background-position: 76% 0%
    }
    50% {
        background-position: 25% 100%
    }
    100% {
        background-position: 76% 0%
    }
}
#password-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 400px;
    border-radius: 2px;
}
passwordStrength {
    float: left; 
        width: 100px; 
        height: 25px; 
        margin-left: 5px
}
