.concept-question-container{
    width: 100%;
    overflow-y: scroll;
    height: 89vh;
    max-height: 89vh;
    padding-bottom: 1vh;
}

.concept-name-holder{
    display: flex;
    width: 100%;
    height: 4vh;
}


#reset-fields{
    height: 70px;
}

.qsn-btn {
    padding-left: 15px;
}
